<p class = 'text-success'><%= notice %></p>

<div class = 'container'>
  <div class = 'row'>
    <%= render 'share/userinfo', user: @user, new_book: @book %>
    <%= render 'books/list', books: @books %>
  </div>
</div>